@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* main */
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

#bg-img {
  width: 100vw;
  height: 33vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bg-img img {
  height: 50%;
}

#login-box {
  width: 360px;
  height: 33vh;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #1d377d;
  border-radius: 30px;
}

#login-form {
  width: 300px;
}

#login-box h2 {
  font-size: 20px;
  padding: 0 0 10px 0;
  font-weight: 300;
}

#user-id,
#user-pass {
  width: 300px;
  height: 40px;
  margin-bottom: 15px;
  padding-left: 10px;
  background: #f1f1f1;
  border: none;
  border-radius: 5px;
}

.join-btn,
.login-btn {
  width: 140px;
  height: 40px;
  margin-top: 10px;
  background: #1d377d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.login-btn {
  margin-left: 13px;
}

#title h1 {
  position: absolute;
  font-size: calc(2vw + 25px);
  font-weight: 100;
  text-align: center;
  line-height: 33vh;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}

/*board*/
#board-box {
  width: 100vw;
  height: 90vh;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#list-box {
  width: 80vw;
  padding-top: 10px;
}

#list-title h2 {
  font-size: 70px;
  font-weight: 100;
}

#search-part {
  position: absolute;
  top: 50px;
  right: 10vw;
}

#search-box {
  width: 200px;
  height: 30px;
  margin-right: 5px;
  padding: 5px;
  border: 1px solid #1d377d;
  border-radius: 5px;
}

#sub-btns {
  display: inline;
}

.search-btn,
.logout-btn {
  width: 80px;
  height: 30px;
  background: #1d377d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#list {
  clear: both;
  width: 80vw;
  height: 70vh;
}

#container {
  border-bottom: 1px solid #1d377d;
}

#container tr td {
  width: 10vw;
  height: 6vh;
  text-align: center;
  color: #1d377d;
}

#content tr td {
  width: 10vw;
  height: 6vh;
  padding-left: 10px;
  border-bottom: 1px solid #f1f1f1;
}

#content tr :nth-child(1) {
  font-weight: 400;
}

#page-list {
  text-align: center;
  padding-top: 20px;
  margin-left: -10px;
}

#page-list a {
  margin-left: 10px;
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: 100;
}

#page-list a.num.on {
  color: #1d377d;
  font-weight: 400;
}
