* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#calculator {
  width: 400px;
  height: 600px;
  background-color: #ffadba;
  border-radius: 40px;
  box-shadow: 0 25px darkgray;
}
#header {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
  color: red;
}
#display {
  font-family: DotGothic16;
  position: absolute;
  margin: 10px 20px;
  padding: 8px 10px;
  width: 360px;
  height: 70px;
  background-color: #fff;
  border-radius: 20px;
  text-align: right;
  box-shadow: inset 0 3px darkgray;
}
#steps {
  color: grey;
  font-size: 15px;
}
#answer {
  font-size: 27px;
  white-space: normal;
  word-break: break-all;
}
#btn {
  margin: 90px 20px 20px 25px;
  width: 360px;
  height: 400px;
}
button {
  float: left;
  width: 67px;
  height: 67px;
  font-size: 30px;
  color: red;
  background-color: #fffddd;
  border-radius: 67px;
  border: none;
  box-shadow: 0 7px 0 3px darkgray;
  margin: 8px 10px;
}
#zero {
  width: 154px;
  height: 67px;
}
button:hover {
  color: #fff;
  background-color: #cfcdb4;
}
button:active {
  transform: translateY(3px);
  box-shadow: 0 4px 0 3px grey;
}
#footer {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
  color: #fff;
}
